# Magic behaviour with __get, __set, __call and __callStatic is not exactly static analyser-friendly :)
# Fortunately, You can ignore it by the following config.
#
# vendor/bin/phpstan analyse app --memory-limit 200M -l 0
#
includes:
  # 需要执行 composer require phpstan/phpstan-deprecation-rules --dev
  # - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  level: 0
  paths:
    - app
    - config
  reportUnmatchedIgnoredErrors: false
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
  ignoreErrors:
    - '#Static call to instance method Hyperf\\HttpServer\\Router\\Router::[a-zA-Z0-9\\_]+\(\)#'
    - '#Static call to instance method Hyperf\\DbConnection\\Db::[a-zA-Z0-9\\_]+\(\)#'

services:
  # When using `match` to match enum, the enumeration must be completely overwritten
  - class: PHPStan\Rules\Comparison\MatchExpressionRule
    arguments:
      checkAlwaysTrueStrictComparison: %checkAlwaysTrueStrictComparison%
      disableUnreachable: %featureToggles.disableUnreachableBranchesRules%
      reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
      treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
    tags:
      - phpstan.rules.rule
